.tableau{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid #2ECC71;
}

thead tr{
    background-color: #2ECC71;
    color: white;
}

th, td{
    padding: 5px 10px;
}

tbody tr, td, th{
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #efefef;
}
td{
    text-align: left;
}